
apiVersion: v1
kind: Secret
metadata:
  name: organization-secret
  namespace: mongodb
stringData:
  publicKey: <PUBLIC KEY>
  privateKey: <PRIVATE_KEY>
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: my-project
  namespace: mongodb
data:
  baseUrl: "${URL}"
  orgId: <YOUR_ORG_ID>